*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  height: inherit;
  position: relative;
  width: 1600px;
  height: 900px;
  padding: 66px 0;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
}



.page__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  width: 750px;
  margin: 0 auto;
  line-height: 115%;
  letter-spacing: 3.5%;
  font-weight: 700;
  font-size: 116px;
  text-transform: uppercase;
}

.page__title:hover::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.page__title::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  white-space: pre;
  width: 742px;
  height: 142px;
  position: absolute;
  top: 180px;
  right: 20px;
  background-color: white;
  box-shadow: 0 20px 0 0 black;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 35px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
  text-transform: none;
  padding: 36px 44px;
  opacity: 0;
}

.page__title::after {
  content: "*";
  display: inline-block;
  font-size: 80px;
  line-height: 140%;
}

.page__title span {
  display: block;
  text-align: center;
}

.page__video {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
