*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}