*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  position: relative;
  min-width: 800px;
  max-width: 2400px;
  height: 1350px;
  aspect-ratio: 16 / 9;
}

video {
  inset: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 185px;
  letter-spacing: -2px;
  line-height: 111%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 95px;
  align-items: center;
}

span:last-child {
  letter-spacing: 5px;
}