*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  position: relative;
  min-width: 800px;
}

video {
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 116px;
  letter-spacing: 3.5%;
}