*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  height: 100%;
  font-family: 'raleway', sans-serif;
  background-color: #fec7ee;
  padding-top: 60px;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.page__title {
  z-index: 1;
  max-width: 720px;
  margin: 0 auto;
  font-size: 116px;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
}

.page__title:hover::before {
  opacity: 1;
}

.page__title::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  white-space: pre;
  max-width: 760px;
  height: 142px;
  position: absolute;
  top: 180px;
  right: 20px;
  background-color: white;
  box-shadow: 0 20px 0 0 black;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 35px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
  text-transform: none;
  padding: 36px 44px;
  opacity: 0;
}

.page__title::after {
  content: "*";
  position: relative;
}

.page__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
